<div id="js-cart-box"
    {% if cart is not null and getRoute() not in pagesWithDisabledCartHover %}
        class="js-hover-intent{% if isIntentActive %} active{% endif %}"
        data-hover-intent-class-for-open="active"
    {% endif %}
    data-reload-url="{{ url('front_cart_box') }}"
>
    <div class="cart">
        <a {% if cart is not null %}href="{{ url('front_cart') }}"{% endif %}
            class="cart__block {% if cart is null %} empty no-hover{% endif %}">
            <span class="cart__icon">
                <i class="svg svg-cart"></i>
            </span>
            <div class="cart__info js-cart-info">
                {% if cart is null %}
                    {{ 'Your cart is empty'|trans }}
                {% else %}
                    {% transchoice cart.itemsCount with { '%itemsCount%': cart.itemsCount, '%priceWithVat%': productsPrice.priceWithVat|price } %}
                        {1} <strong class="cart__state">%itemsCount%</strong> item for <strong class="cart__state">%priceWithVat%</strong>|[2,Inf] <strong class="cart__state">%itemsCount%</strong> items for <strong class="cart__state">%priceWithVat%</strong>
                    {% endtranschoice %}
                {% endif %}
            </div>
        </a>
        <div id="js-cart-box-content" class="cart__detail">
            {% if cart is not null %}
                <div class="cart-detail__wrap">
                    <ul class="cart-detail">
                        {% for cartItem in cart.items %}
                            {{ _self.cartItem(cartItem) }}
                        {% endfor %}
                    </ul>
                    <div class="cart-detail__total">
                        <div class="cart-detail__total__text">
                            {{ 'Total'|trans }}
                        </div>
                        <div class="cart-detail__total__price">
                            {{ productsPrice.priceWithVat|price }}
                        </div>
                    </div>
                </div>
                <div class="cart-detail__bottom">
                    <div class="cart-detail__bottom__button">
                        <a href="{{ url('front_cart') }}" class="btn btn--success">{{ 'Go to cart'|trans }}</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="cart-mobile header__mobile-button">
        <a href="{{ url('front_cart') }}" class="header__mobile-button__in">
            <i class="svg svg-cart"></i>
            {% if cart is not null %}
                <span class="header__mobile-button__in__info">
                    {{ cart.itemsCount }}
                </span>
            {% endif %}
        </a>
    </div>
</div>

{% macro cartItem(cartItem) %}
    {% set product = cartItem.product %}
    <li class="cart-detail__item">
        <div class="cart-detail__item__image">
            {{ image(product) }}
        </div>
        <div class="cart-detail__item__content">
            <a class="cart-detail__item__content__title" href="{{ url('front_product_detail', {'id': product.id}) }}" title="{{ product.name }}">
                {{ product.name }}
            </a>
            <span class="cart-detail__item__content__price">
                {{ cartItem.watchedPrice|price}}
            </span>
        </div>
        <div class="cart-detail__item__pieces">
            {{ cartItem.quantity|formatNumber }} {{ product.unit.name }}
        </div>
        <a
                class="cart-detail__item__remove js-cart-item-remove-button"
                href="{{ url('front_cart_delete_ajax', {cartItemId: cartItem.id, _token: csrf_token('front_cart_delete_' ~ cartItem.id)}) }}"
                title="{{ 'Remove item'|trans }}">
            <i class="svg svg-remove"></i>
        </a>
    </li>
{% endmacro %}
